<!DOCTYPE html>
<html lang="en">
  <head>
    <title>EmailClient &mdash; Redcrix</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- {% load staticfiles %} -->
    {% load staticfiles %}
    <!-- <link href="https://fonts.googleapis.com/css?family=Muli:300,400,700,900" rel="stylesheet"> -->
    <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">

    <link rel="stylesheet" href="{% static 'css/jquery.fancybox.min.css' %}">

    <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.css' %}">

    <link rel="stylesheet" href="{% static 'fonts/flaticon/font/flaticon.css' %}">

    <link rel="stylesheet" href="{% static 'css/aos.css' %}">

    <link rel="stylesheet" href="{% static  'css/style.css' %}">
     
  </head>

 
  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
  
  <div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>
   
    
    <header class="site-navbar py-4 js-sticky-header site-navbar-target" role="banner">
      
      <div class="container-fluid">
        <div class="d-flex align-items-center">
          <div class="site-logo mr-auto w-25"><a >
            <img class="logo_png" src="{% static 'images/redcrix-logo.png' %}" alt="redcrix-logo" >
       
          </a></div>

          <div class="mx-auto text-center">
            <nav class="site-navigation position-relative text-right" role="navigation">
              <ul class="site-menu main-menu js-clone-nav mx-auto d-none d-lg-block  m-0 p-0">
                <li><a href="#home-section" class="nav-link">Configure This</a></li>
                <li><a href="#email-client" class="nav-link">Email Client</a></li>
                <li><a href="#about-us" class="nav-link">About Us</a></li>
                <li><a href="#contact-us" class="nav-link">Contact Us</a></li>
              </ul>
            </nav>
          </div>


        </div>
      </div>
      
    </header>

    <div class="intro-section single-cover" >
      
      <div class="slide-1 " style="background-image: url('images/img_2.jpg');" data-stellar-background-ratio="0.5">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-12">
              <div class="row justify-content-center align-items-center text-center">
                <div class="col-lg-6">
                  <h1 data-aos="fade-up" data-aos-delay="0">Email Client</h1>
                  <p data-aos="fade-up" data-aos-delay="100">
                    Get the ability to change the sender address when you send a mail. They'll never know it was you! You can choose any email address or name you want to send a email. Your opposite will be thinking you're someone else. It's easy and works with every email, worldwide!

                  </p>
                </div>

                
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>

    <div class="intro-section single-cover" id="home-section">
      
      <div class="slide-2" data-stellar-background-ratio="0.5">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-12">
              <div class="row justify-content-center align-items-center text-center">
                <div class="col-lg-6">
                  <h1 data-aos="fade-up" data-aos-delay="0" class="UseOwnSmptpServer">Use Your Own SMPT Server</h1>
                  <p data-aos="fade-up" data-aos-delay="100">
                    If you are using google smtp server then you have to first disable the less secure apps option from your sender email account or use this link for help https://support.google.com/a/answer/6260879?hl=en
                  </p>
                </div>

                
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
    
    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 mb-8" id="email-client">

            <div class="mb-5">
              <h3 class="text-black">Send Anonyous Email </h3>
              <p class="mb-4">
                <strong class="text-black mr-3">100% Safe </strong> 
              </p>

              <form method="POST" action="" class="formCustom">

                  {% csrf_token %}
                  {{ form.as_p }}
      
                  <button type="submit" class="send_btn">Send</button>
      
              <p>{{ result }}</p>
      
              </form>
          
          
          
          
          
          
              <div class="row mb-4">
                <div class="col-md-6">
                  <img src="{% static 'images/img_1.jpg' %}" alt="Image" class="img-fluid rounded">
                </div>
                <div class="col-md-6">
                  <img src="{% static 'images/img_2.jpg' %}" alt="Image" class="img-fluid rounded">
                </div>
              </div>
              <p>Hire a dedicated team of any size (either offshore OR onsite OR hybrid as per your needs) for creating new applications, maintaining OR upgrading existing applications.</p>
              <h3 class="techSkills">Technical Skills</h3>
              <ul class="ul">
                <li data-aos="fade-up" data-aos-delay="">Development Skills: Python 2 & 3, HTML / CSS, Javascript / Jquery, AJAX, SOAP, REST, JSON, XML, etc.       </li>
                <li data-aos="fade-up" data-aos-delay="">Frameworks: Django, Flask, Bottle, CherryPy, Pyramid, etc.</li>
                <li data-aos="fade-up" data-aos-delay="">Database Skills: MySQL, PostGreSQL, MSSQL, Oracle, MongoDB, Redis, CouchDB, RethinkDB, Parse.com, etc.</li>
                <li data-aos="fade-up" data-aos-delay="">Concepts: OOPS, MVC, Design Patterns, Agile Methodologies, SDLC Methodologies, etc.</li>
                <li data-aos="fade-up" data-aos-delay="">Tools: Eclipse, NetBeans, Git, SVN, Jira, Basecamp, PyStrom, PyDev, etc.</li>
                <li data-aos="fade-up" data-aos-delay="">Operating Systems: Windows, UNIX/LINUX & Mac</li>
                <li data-aos="fade-up" data-aos-delay="">Web Servers: Apache, Nginx, Guinicorn, etc.</li>
                <li data-aos="fade-up" data-aos-delay="">Environments: AWS, Azure, Google Cloud, Digital Ocean, Linode, Vagrant, Docker Containers, etc.</li>
         
              </ul>

              <p class="mt-4"><a href="https://www.redcrix.com" class="btn btn-primary">More About Redcrix</a></p>
            </div>

            <div class="pt-5" id="contact-us">
 
           
              
              <div class="comment-form-wrap pt-5">
                <h3 class="mb-5">Leave a comment</h3>
                <form action="#" class="p-5 bg-light">
                  <div class="form-group">
                    <label for="name">Name *</label>
                    <input type="text" class="form-control" id="name">
                  </div>
                  <div class="form-group">
                    <label for="email">Email *</label>
                    <input type="email" class="form-control" id="email">
                  </div>
                  <div class="form-group">
                    <label for="website">Website</label>
                    <input type="url" class="form-control" id="website">
                  </div>

                  <div class="form-group">
                    <label for="message">Message</label>
                    <textarea name="" id="message" cols="30" rows="10" class="form-control"></textarea>
                  </div>
                  <div class="form-group">
                    <input type="submit" value="Send" class="btn btn-primary">
                  </div>

                </form>
              </div>
            </div>



          </div>
 
        </div>
      </div>
    </div>

    <div class="site-section courses-title bg-dark" id="about-us">
      <div class="container">
        <div class="row mb-5 justify-content-center">
          <div class="col-lg-7 text-center" data-aos="fade-up" data-aos-delay="">
            <h2 class="section-title">Quick Glance</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="site-section courses-entry-wrap"  data-aos="fade" data-aos-delay="100">
      <div class="container">
        <div class="row">

          <div class="owl-carousel col-12 nonloop-block-14">

            <div class="course bg-white h-100 align-self-stretch">
              <figure class="m-0">
                <a href="course-single.html"><img src="{% static 'images/img_1.jpg' %}" alt="Image" class="img-fluid"></a>
              </figure>
              <div class="course-inner-text py-4 px-4">
                <span class="course-price"></span>
                <h3><a href="#">Machine Learning</a></h3>
                <p>We leverage various Machine Learning & Analytics Technologies, Frameworks & Platforms to provide comprehensive IT Services & Solutions which help our clients drive business value. </p>
              </div>
 
            </div>

            <div class="course bg-white h-100 align-self-stretch">
              <figure class="m-0">
                <a href="course-single.html"><img src="{% static 'images/img_2.jpg' %}" alt="Image" class="img-fluid"></a>
              </figure>
              <div class="course-inner-text py-4 px-4">
                <span class="course-price"></span>
                <h3><a href="#">Logo Design</a></h3>
                <p>Whether you have your own logo ideas, or need some design expertise, you can get free quotes for affordable Logo Design for your business or brand. </p>
              </div>
         
            </div>

            <div class="course bg-white h-100 align-self-stretch">
              <figure class="m-0">
                <a href="course-single.html"><img src="{% static 'images/img_3.jpg' %}" alt="Image" class="img-fluid"></a>
              </figure>
              <div class="course-inner-text py-4 px-4">
                <span class="course-price"></span>
               <h3><a href="#">Open Source Programming</a></h3>
                <p>We leverage various Open Source Technologies, Frameworks & Platforms to provide comprehensive IT Services & Solutions which help our clients drive business value and innovation.</p>
              </div>
    
            </div>



            <div class="course bg-white h-100 align-self-stretch">
              <figure class="m-0">
                <a href="course-single.html"><img src="{% static 'images/img_4.jpg' %}" alt="Image" class="img-fluid"></a>
              </figure>
              <div class="course-inner-text py-4 px-4">
                <span class="course-price"></span>
                <h3><a href="#">Ecommerce</a></h3>
                <p>We do end-to-end E-Commerce implementation for our clients from Planning, Implementation, Designing, Development, Integration and Marketing to Adoption and Ongoing Support.  </p>
              </div>
       
            </div>

            <div class="course bg-white h-100 align-self-stretch">
              <figure class="m-0">
                <a href="course-single.html"><img src="{% static 'images/img_5.jpg' %}" alt="Image" class="img-fluid"></a>
              </figure>
              <div class="course-inner-text py-4 px-4">
                <span class="course-price"></span>
               <h3><a href="#">Mobile Technologies</a></h3>
                <p>We leverage various Mobile Technologies, Frameworks & Platforms to provide comprehensive IT Services & Solutions which help our clients drive business value and innovation.  </p>
              </div>
        
            </div>

            <div class="course bg-white h-100 align-self-stretch">
              <figure class="m-0">
                <a href="course-single.html"><img src="{% static 'images/img_6.jpg' %}" alt="Image" class="img-fluid"></a>
              </figure>
              <div class="course-inner-text py-4 px-4">
                <span class="course-price">
                <h3><a href="#">CONTENT MANAGEMENT SYSTEM</a></h3>
                <p>We do end-to-end CMS implementation for our clients from Planning, Implementation, Designing, Development, Integration and Marketing, to Adoption and Ongoing Support. </p>
              </div>
       
            </div>

          </div>

         

        </div>
        <div class="row justify-content-center">
          <div class="col-7 text-center">
            <button class="customPrevBtn btn btn-primary m-1">Prev</button>
            <button class="customNextBtn btn btn-primary m-1">Next</button>
          </div>
        </div>
      </div>
    </div>
     
    <footer class="footer-section bg-light">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h3>About Redcrix</h3>
            <p> We curates unique new products every month, just as to be in charge of selecting, arranging, and presenting new concepts to the market. </p>
          </div>

          <div class="col-md-3 ml-auto">
            <h3>Links</h3>
            <ul class="list-unstyled footer-links">
              <li><a href="https://www.redcrix.com/">Redcrix</a></li>
              <li><a href="https://www.redcrix.com/">Redcrix</a></li>
              <li><a href="https://www.redcrix.com/">Redcrix</a></li>
              <li><a href="https://www.redcrix.com/">Redcrix</a></li>
            </ul>
          </div>

          <div class="col-md-4">
            <h3>Subscribe</h3>
            <p>Better Stuff? Directly to your inbox.</p>
            <form action="#" class="footer-subscribe">
              <div class="d-flex mb-5">
                <input type="text" class="form-control rounded-0" placeholder="Email">
                <input type="submit" class="btn btn-primary rounded-0" value="Subscribe">
              </div>
            </form>
          </div>

        </div>

        <div class="row pt-5 mt-5 text-center">
          <div class="col-md-12">
            <div class="border-top pt-5">
            <p>
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved |  <i class="icon-heart" aria-hidden="true"></i> by <a href="https://www.redcrix.com/home" target="_blank" >Redcrix</a>
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
      </p>
            </div>
          </div>
          
        </div>
      </div>
    </footer>

  
    
  </div> 

  <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'js/jquery-migrate-3.0.1.min.js' %}"></script>
  <script src="{% static 'js/jquery-ui.js' %}"></script>
  <script src="{% static 'js/popper.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'js/jquery.stellar.min.js' %}"></script>
  <script src="{% static 'js/jquery.countdown.min.js' %}"></script>
  <script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
  <script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
  <script src="{% static 'js/aos.js' %}"></script>
  <script src="{% static 'js/jquery.fancybox.min.js' %}"></script>
  <script src="{% static 'js/jquery.sticky.js' %}"></script>

  
  <script src="{% static 'js/main.js' %}"></script>
    
  </body>
</html>